asgiref==3.11.0
bcrypt==5.0.0
Django==5.2.8
djangorestframework==3.16.1
psycopg==3.2.13
psycopg-binary==3.2.13
PyJWT==2.10.1
python-decouple==3.8
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
